html { 
  height: 100%;
 }

body {
  height: 100vh;
  display: flex;
  padding-bottom:60px; 
}

.container-fluid {
  flex: 1 1 auto;
}

.centered { 
  text-align: center;
}

.is-centered {
  align-items: center;
}

.card {
  margin: 10px auto auto auto;
  width: 50%;
}


.main {
  background-image: url("food2.jpeg");
  background-size: cover;
  padding-bottom: 60px
}