.footer {
	position: absolute;
	clear: both;
	margin-top: 325px;
	bottom: 0;
  	left: 0;
	width: 100% !important;
	background-color: black !important;
	padding: 30px !important;
	color: white;
	z-index: 2;
	margin: 0px;
};
.footer p {
	text-align: center !important;
}
.centered {

}