#restaurants {
	margin-bottom: 60px
}

.data-section {
	height: 100vh;
	padding-bottom: 60px;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}